<div class="page">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let aud of audiencias" class="acc--bx">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="txt">Audiência Pública</span>
        </mat-panel-title>
        <mat-panel-description>
          <span class="txt" *ngFor="let t of aud.temas; let i = index"><span style="margin-right: .3em;" *ngIf="i!=aud.temas.length-1">{{t.nome}},</span>
            <span *ngIf="i==aud.temas.length-1">{{t.nome}}</span> </span>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <mat-toolbar class="card--header">
        <mat-toolbar-row class="card--body">
          <mat-icon class="icon">calendar_today</mat-icon>
          <p class="body">{{aud.dia}} {{aud.horario}}</p>
        </mat-toolbar-row>
        <mat-toolbar-row class="card--body">
          <mat-icon class="icon">location_on</mat-icon>
          <p class="body">Local: <span class="cap">{{aud.local}}</span></p>
        </mat-toolbar-row>
        <mat-toolbar-row class="card--body">
          <mat-icon class="icon">book</mat-icon>
          <p class="body">Pautas: <span class="lower">{{aud.pauta}}</span></p>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-toolbar class="card--footer">
        <mat-toolbar-row>
          <button mat-button *ngIf="!aud.clicked" (click)="likeAudiencia(aud.temas); aud.clicked=true;">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button class="like--btn--clk" mat-button *ngIf="aud.clicked">
            <mat-icon color="blue">thumb_up</mat-icon>
          </button>

          <span class="spacer"></span>
          <button class="btns" mat-button (click)="edit=true; actualAud=aud">
            <mat-icon class="example-icon">edit</mat-icon>
          </button>
          <button class="btns" mat-button (click)="openAudUrl(aud.id)">
            <mat-icon class="example-icon">link</mat-icon>
          </button>

        </mat-toolbar-row>
      </mat-toolbar>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-aud-editor (close)="edit=$event" [aud]="actualAud" *ngIf="edit"></app-aud-editor>
