.acc--bx {
  min-width: 300px;
  width: 60%;
  margin: auto;
  margin-bottom: 3vh;
}

.txt {
  font-size: 1.9vh !important;
  text-transform: capitalize;
}

.like--btn {
  border: 0;
  background: #fff;
}

.like--btn--clk {
  border: 0;
  -webkit-text-fill-color: #259CFF;
  fill: #259CFF;
  background: #fff;
}

.like--btn:hover {
  fill: #259CFF;
  -webkit-text-fill-color: #259CFF;
}

.btns {
  border: 0;
  background: #fff;
  margin-right: -1vw;
}



.spacer {
  flex: 1 1 auto;
}

.card--header {
  margin-top: 3vh;
  background: #fff;
}

.card--body {
  height: 4vh;
}

.card--footer {
  margin-top: 3vh;
  background: #fff;
  min-height: 1vh !important;
  height: 5vh;
}

.body {
  font-size: 1.8vh;
}

.cap {
  text-transform: capitalize;
}

.lower::first-letter {
  text-transform: uppercase;

}

.icon {
  font-size: 2.4vh;
  margin-top: 1vh;
}
