<mat-sidenav-container class="example-container">
  <mat-sidenav class="menu" #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list role="list">
      <mat-list-item *ngIf="userLogged" (click)="selectedTab=3; sidenav.toggle();" role="listitem">Configurações</mat-list-item>
      <mat-list-item *ngIf="!userLogged" (click)="showLogin=true; sidenav.toggle();" role="listitem">Entrar</mat-list-item>
      <mat-list-item *ngIf="userLogged" (click)="logout()" role="listitem">Sair</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div (click)="sidenav.toggle()" class="menu--btn">
          <span>
            <svg fill="#fff" width="25" height="18" viewBox="0 0 20 14">
              <path d="M0 0h20v2H0zm0 6h20v2H0zm0 6h20v2H0z"></path>
            </svg>
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div (click)="sidenav.close()" class="content">
      <app-home *ngIf="selectedTab==0"></app-home>
      <app-lista-aud [perDate]="false" *ngIf="selectedTab==1"></app-lista-aud>
      <app-calendario *ngIf="selectedTab==2"></app-calendario>
      <app-config *ngIf="selectedTab==3" (close)="openHome($event)"></app-config>
    </div>

    <app-login (close)="closeModal($event)" *ngIf="showLogin"></app-login>


    <mat-toolbar class="footer--tb" color="secondary">
      <mat-tab-group (selectedTabChange)="changeTab($event)" class="menu--tabs">
        <mat-tab label="Início"></mat-tab>
        <mat-tab label="Lista"></mat-tab>
        <mat-tab label="Calendário"></mat-tab>
      </mat-tab-group>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
