<!-- <mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header> -->

<div class="btn--gp">
  <div class="btn--al">
    <button class="btn--primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
      Anterior
    </button>
    <span class="month--tt">{{ viewDate | calendarDate:(view + 'ViewTitle') }}</span>
    <button class="btn--primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
      Próximo
    </button>
  </div>
</div>
<div *ngIf="showCalendar" class="calendar--bx" [ngSwitch]="view">
  <mwl-calendar-month-view (click)="showModal()" *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
    (dayClicked)="clickedDate = $event.day.date">
  </mwl-calendar-month-view>
</div>

<div *ngIf="showDayModal" class="day--modal--bg">
  <div class="day--modal">
    <mat-toolbar class="modal--header">
      <mat-toolbar-row>
        <span class="title">Audiências no dia <span style="text-transform: capitalize">{{dia}}</span></span>
        <span class="spacer"></span>
        <button mat-button (click)="showDayModal=false">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="day--modal--bd">
      <mat-toolbar *ngIf="!audData[0]" class="modal--header">
        <mat-toolbar-row>
          <span class="txt">Não há audiências registradas para esse dia</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <app-lista-aud *ngIf="audData[0]" [perDate]="true" [audData]="audData"></app-lista-aud>
    </div>
  </div>
</div>
