.slider--bx {
  width: 90%;
  margin: auto;
  margin-bottom: 2vh;
  text-align: center;
}

.slider--tt {
  width: 90%;
  margin: auto;
  margin-bottom: 2vh;

}

.card--tt{
  font-size: 2vh;
}
.toolbar{
  width: 100%;
  background: #fff;
}

.slider {
  margin-top: -3vh;
  width: 80%;
}

.save--btn{
    display: block;
    margin:auto;
    width: 30vw;
}
.close--btn{
  margin-left: 10vw;
}

.spacer {
  flex: 1 1 auto;
}