/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty) {
   font-size: 2.2vh;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label{
    font-size: 2.2vh;
  }

  .cdk-text-field-autofill-monitored:not(:-webkit-autofill){
      font-size: 2.2vh;
  }