<mat-card *ngFor="let aud of audiencias" class="aud--card">
  <mat-toolbar class="card--header">
    <mat-toolbar-row>
      <span class="card--tt">Audiência Pública</span>
      <span class="spacer"></span>
      <mat-icon class="calendar--icn">calendar_today</mat-icon>
      <p class="body">{{aud.dia}} {{aud.horario}}</p>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-icon>location_on</mat-icon>
      <p class="body">Local: <span class="cap">{{aud.local}}</span></p>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <mat-icon>book</mat-icon>
      <p class="body">Pautas: <span class="lower">{{aud.pauta}}</span></p>
    </mat-toolbar-row>
    <mat-toolbar-row class="card--themes">
        <mat-chip-list>
            <mat-chip class="cap" color="warn"  *ngFor="let t of aud.temas">{{t.nome}}</mat-chip>
          </mat-chip-list>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="card--footer">
    <mat-toolbar-row>
      <button mat-button *ngIf="!aud.clicked" (click)="likeAudiencia(aud.temas); aud.clicked=true;"><mat-icon>thumb_up</mat-icon></button>
      <button mat-button *ngIf="aud.clicked" class="like--btn--clk"><mat-icon color="blue">thumb_up</mat-icon></button>

      <span class="spacer"></span>
      <button mat-button (click)="openAudUrl(aud.id)"><mat-icon class="example-icon">link</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>

<mat-card *ngIf="!logged" class="aud--card">
  Para ver audiêndias públicas sugeridas, é necessário cadastrar.
</mat-card>
