.aud--card {
  width: 85%;
  height: auto;
  margin: auto;
  margin-bottom: 2vh;
}

.like--btn {
  border: 0;
  background: #fff;
}

.like--btn--clk {
  border: 0;
  -webkit-text-fill-color: #259CFF;
  fill: #259CFF;
  background: #fff;
}

.like--btn:hover {
  fill: #259CFF;
  -webkit-text-fill-color: #259CFF;
}

.spacer {
  flex: 1 1 auto;
}

.card--header {
  background: #fff;
}

.card--themes{
  height: auto;
  margin-bottom: 2vh;
}

.card--footer {
  background: #fff;
  min-height: 1vh !important;
  height: 5vh;
}

.card--tt {
  font-size: 2.5vh;
}

.body {
  font-size: 2vh;
}

.cap {
  text-transform: capitalize;
}

.lower::first-letter {
  text-transform: uppercase;

}

.calendar--icn {
  font-size: 2.5vh;
}
