.aud--card {
  width: 85%;
  height: auto;
  margin: auto;
  margin-bottom: 2vh;
}

.like--btn {
  border: 0;
  background: #fff;
}

.like--btn--clk{
  border: 0;
  fill:#259CFF;
  background: #fff;

}

.like--btn:hover {
  fill:#259CFF
}
