<mat-card *ngFor="let aud of audiencias" class="aud--card">
  <mat-toolbar class="card--header">
    <mat-toolbar-row>
      <span class="card--tt">Audiência Pública</span>
      <span class="spacer"></span>
      <mat-icon class="calendar--icn">calendar_today</mat-icon>
      <p class="body">{{aud.data}} {{aud.horario}}</p>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-icon>location_on</mat-icon>
      <p class="body">Local: <span class="cap">{{aud.local}}</span></p>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <mat-icon>book</mat-icon>
      <p class="body">Pauta: <span class="lower">{{aud.pauta}}</span></p>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <mat-chip-list>
            <mat-chip class="cap" *ngFor="let t of aud.temas">{{t.nome}}</mat-chip>
          </mat-chip-list>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="card--footer">
    <mat-toolbar-row>
      <mat-icon *ngIf="!aud.clicked" (click)="likeAudiencia(aud.temas)">thumb_up</mat-icon>
      <mat-icon *ngIf="aud.clicked" class="like--btn--clk">thumb_up</mat-icon>

      <span class="spacer"></span>
      <mat-icon class="example-icon">link</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>

<mat-card *ngIf="!logged" class="aud--card">
  Para ver audiêndias públicas sugeridas, é necessário cadastrar.
</mat-card>
